.form-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

input {
  margin: 15px;
  padding: 0.5rem;
  width: 100%;
  border: 0px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #1a1a1a;
}

.button {
  margin: 10px;
  padding: 0.5rem;
  width: 100%;
  max-width: 300px;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms, border-color 300ms;
}

.button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  border-color: #646cffaa;
}

.button.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
