.choices-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}

.choice-box {
  padding: 1rem;
  border: white solid 1px;
  cursor: pointer;
  transition: background-color 300ms, filter 300ms;
}

.choice-box:hover {
  background-color: #646cffaa;
  filter: drop-shadow(0 0 2em #646cffaa);
}
